.lead {
  max-width: 928px;
  margin: 0 auto;
  padding-top: 48px;
}

@media screen and (min-width: 1280px) {
  .lead {
    max-width: 984px;
    padding-top: 56px;
  }
}

@media screen and (max-width: 1024px) {
  .lead {
    margin: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    margin: 0;
  }
}